.eventify-event-list{
	padding-top: 50px;
}

.list-card {
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        gap: 30px;
    }
}

.event-card {
	display: flex;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 8px 5px #00000010;
    display: flex;
	width: 100%;
	overflow: hidden;

	picture{
		width: 60%;
		height: 100%;
		max-height: 275px;
		position: relative;
		overflow: hidden;

		img{
			width: auto;
			height: 100%;
		}

		.categories{
			position: absolute;
			top: 10px;
			left: 10px;
			color: #fff;
			font-size: 12px;
			text-transform: uppercase;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 5px;

			span{
				background-color: #3490dc;
				padding: 3px 10px;
				border-radius: 5px;
			}
		}

		.details{
			position: absolute;
			display: flex;
			justify-content: space-around;
			bottom: 0;
			left: 0;
			width: 100%;
			background-color: #00000070;
			padding: 20px 0;
			z-index: 100;

			span{
				font-size: 12px;
				color: #fff;
			}
		}
	}
	
	aside{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 40%;
		padding: 20px;

		h3{
			margin: 0;
			font-size: 22px;
			font-weight: bold;
		}
		span{
			font-size: 14px;

			p{
				margin: 0;
			}
		}
		div{
			display: flex;
			flex-direction: column;
			gap: 10px;

			div{
				flex-direction: row;
			}

		}

		
		.btn {
			padding: 5px 8px;
			text-decoration: none;
			border-radius: 5px;
			font-size: 16px;
			text-align: center;
			transition: background-color 0.3s ease;
		}

		.btn--info {
			background-color: #3490dc;
			color: #fff;
		}

		.btn--primary {
			background-color: #38c172;
			color: #fff;
		}

		.btn:hover {
			opacity: 0.8;
		}

	}
	


}

.filter-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    
    

	.filter-form__label {
		font-size: 16px;
		font-weight: bold;
	}

	.filter-form__select {
		padding: 8px 12px;
		font-size: 16px;
		border: none;
		border-radius: 5px;
		outline: none;
		transition: border-color 0.3s ease;
		background-color: #fff;
		    box-shadow: 0 2px 8px 5px #00000010;

	}

	.filter-form__select:focus {
		border-color: #3490dc;
	}

	.filter-form__button {
		
			text-decoration: none;
			border-radius: 5px;
			border: none;
			font-size: 16px;
			text-align: center;
			background-color: #3490dc;
			color: #fff;
		padding: 8px 12px;
		    box-shadow: 0 2px 8px 5px #00000010;

	}

	.filter-form__button:hover {
		opacity: 0.8;
	}

}

.pagination{

	margin-top: 100px;

	ul{
		list-style: none;
		display: flex;
		justify-content: center;
		gap: 8px;

		li{
			padding: 8px 12px;
			border-radius: 5px;
			box-shadow: 0 2px 8px 5px #00000010;
			background-color: #fff;
			a{
				text-decoration: none;
			}

		}
		li:hover{
			background-color: #3490dc;
			
			a{
				color: #fff;
			}

		}
	}
}
